<!DOCTYPE html>
<html> 
    <head>
     <meta charset="utf-8">
     <title> MercadoLoquendo </title>
     <link rel="stylesheet" href="../../css/registroysesion.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body"> 
<header class="header"> <div class="logo"> <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1751548918/Loquendo_logo_mmpkmh.png"> </div> <h1 class="titulo"> MERCADO LOQUENDERO </h1> <h2 class="rango"> rango: invitado</h2></header>
<div class="body2">
 <div class="caja">    <h1> INICIO DE SESIÓN</h1>
<form action="/" method="POST" id="formularioSesion" class="formularioSesion">
    <input type="text" placeholder="nombre de usuario" id="nombre" class="input"><br><br>
    <input type="password" placeholder="contraseña" id="contraseña" class="input"><br><br>
    <button class="buto">iniciar sesión</button>
</form></div></div>
<script src="/js/script.js"> </script>
</body>
</html>
