<!DOCTYPE html>
<html> 
    <head>
     <meta charset="utf-8">
     <title> MercadoLoquendo </title>
     <link rel="stylesheet" href="../../css/tarjeta.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body"> 
<header class="header"> <div class="logo"> <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1751548918/Loquendo_logo_mmpkmh.png"> </div> <h1 class="titulo"> MERCADO LOQUENDERO </h1> <h2 class="rango"> rango: invitado</h2></header>
<div class="body2">
    <h1> pon el dinero en la bolsa, ponelo</h1>
 </div>
<script src="/js/script.js"> </script>
</body>
</html>
